/* common start */
body{
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
/* common end */
/* header start */
header{
    background-color: #F0FFF0;
    padding: 5px 0;
}
.logo{}
.menu ul li a{
    color: black !important;
    line-height: 24px;
    text-transform: capitalize; 
    padding: 0 24px !important;

}
.menu ul li a:hover{
    color: #FD511A !important;
}
.btn_sig{
    font-family: 'Roboto', sans-serif;
    line-height: 19px;
    color: #FFFFFF;
    padding: 12px 28px;
    background: #21B573;
    border: 0;
    border-radius: 33px;
}
.btn_sig:hover{
    background-color: #FD511A;
    color: white;
}
/* header end */